<div class="page flex-column" (keyup.enter)="handleClick()">
  <h1 class="title center">Įveskite mašinos nr.</h1>
  <span *ngIf="error" class="error-message center">{{error}}</span>
  <input 
    type="text"
    placeholder="Mašinos nr."
    [(ngModel)]="inputValue"
    [class.filled]="inputValue && inputValue.length > 0"
    (input)="checkForErrors()"
    class="center"
  >
  <a class="next-button center" (click)="handleClick()">Toliau</a>
  <p class="help center">Reikia pagalbos?</p>
</div>