.title {
    font-weight: normal;
}

input {
    display: block;
    height: 40px;
    width: 80%;
    max-width: 250px;

    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 5px;
    box-sizing: border-box;
}
input.filled {
    text-transform: uppercase;
}

.next-button {
    margin-top: 50px;
}
.help {
    font-size: 10pt;
    cursor: pointer;
}