<div class="map">
  <agm-map 
    [latitude]="centerCoords.lat" 
    [longitude]="centerCoords.lng" 
    [zoom]="zoom"
    [usePanning]="true"
    (mapClick)="handleMapEvent($event)"
    [fitBounds]="mapbounds"
  >
    <agm-marker 
      *ngIf="userCoords"
      [latitude]="userCoords.lat" 
      [longitude]="userCoords.lng"
      [markerDraggable]="true"
      (dragEnd)="handleMapEvent($event)"
    ></agm-marker>

    <agm-marker
      *ngIf="techSpecialistcoords"
      [latitude]="techSpecialistcoords.lat"
      [longitude]="techSpecialistcoords.lng"
      [label]="Tech"
    ></agm-marker>
  </agm-map>
</div>