<div class="page flex-column">
  <p>
    Pasirinkite savo buvimo vietą, tempkite „žymeklį“. 
    Kad Jūsų vieta būtų kuo tikslenė, įjunkite GPS.
  </p>
  <app-app-map
    [centerCoords]="centerCoords"
    [userCoords]="userCoords"
    (userCoordsChange)="handleLocationChange($event)"
  ></app-app-map>
  <p class="error-message" *ngIf="error">{{error}}</p>
  <a class="next-button center" (click)="handleClick()">Toliau</a>
</div>