.assigned-specialist {
    display: flex;   
}
.assigned-specialist p {
    margin-right: 15px;
}
.center-text {
    text-align: center;
}

.call {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}