/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: "Roboto", "sans-serif"
}

.page {
    width: 80%;
    margin: auto;
    display: block;
}
@media screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}
.center {
    margin-right: auto;
    margin-left: auto;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

%button-base {
    user-select: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.next-button {
    @extend %button-base;
    background-color: #58ba57;
}
.action-button {
    @extend %button-base;
    background-color: #3d8bcd;
}
.hr {
    border-top: 1px solid black;
    height: 1px;
    width: 100%;
    padding: 0 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.error-message {
    font-size: 10pt;
    color: #ff0000;
}